/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  display: grid;
  grid-template-rows: auto;
  gap: 2%;
}
/* header section */
header {
  background-color: #2827cc;
  display: grid;
  grid-template-rows: repeat(4, auto);
}
nav {
  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-content: end;
  gap: 5%;
  justify-items: center;
  padding-bottom: 10px;
  padding-top: 20px;
  margin-right: 5%;
}
.nav-item {
  color: #fff;
}
a.nav-item-active {
  color: #2827cc;
  background-color: #fff;
  border-radius: 15px;
  border: 0;
  font-size: 15px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
svg.nav-item {
  height: 30px;
}
header div {
  margin-left: 3%;
  color: #fff;
}
.header-text {
  line-height: 2.5;
}
.header-image {
  /* float: right; */
  height: 400px;
  position: absolute;
  top: 15%;
  right: 0;
}
.companies {
  margin-left: 29px;
  padding-right: 10px;
}
.company-items {
  padding: 10px 15px;
  text-decoration: none;
  color: #1f1f1f;
}
/* api part */
.api {
  margin-left: 3%;
  margin-top: 5%;
}
/* card section */
.api .cards {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 0.5%;
  margin-left: 4%;
  margin-top: 3%;
  /* text-align: center;
  align-items: center; */
}
.card {
  /* background-color: #aaa; */
  padding: 20px 20px;
  padding-right: 0;
}
.card-active {
  padding: 20px 20px;
  padding-right: 0;
  background-color: whitesmoke;
  border-radius: 10px;
}
.card-head-active {
  color: #3944f7;
}
.card-head {
  font-size: 18px;
}
.card-body {
  font-size: 12px;
}

/* blog content */
.blog-heading {
  margin-left: 3%;
}
.blog-cards {
  margin-left: 3%;
}
.blog-cards,
.blog-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.blog-image {
  margin-left: 10%;
}
.right {
  background-color: whitesmoke;
  margin-left: -12%;
  margin-right: 10%;
}

.blog-content {
  padding-left: 10px;
}

.blog-content h6 {
  color: #2827cc;
  padding-bottom: 5%;
}
.blog-content h3 {
  font-weight: bold;
  padding-bottom: 5%;
}
.blog-content small {
  font-size: 12px;
}

.blog-card-bottom-image {
  position: relative;
  top: 55px;
}
.blog-bottom {
}

.blog-author {
  margin-left: 10%;
}

/* FAQ section */
.faq-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: lightgray;
}
.faq-content {
  margin-left: 5%;
}
.faq-content h2 {
  font-size: 28px;
  font-weight: 800;
  padding-bottom: 20px;
  margin-top: 5%;
}
.faq-content h4:nth-of-type(1) {
  font-weight: 300;
  font-size: 12px;
  padding-bottom: 7%;
}
.faq-content button {
  margin-top: 3%;
  border: 0;
  background-color: #2827cc;
  font-size: 21px;
  padding: 1% 4%;
  border-radius: 25px;
  cursor: pointer;
}

.faq-image {
  position: relative;
  left: 80px;
}

/* download section */

.download-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.download-content {
  margin-left: 5%;
}
}
.download-content span {
  font-weight: 100;
}
.download-email form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 40px;
  width: 400px;
  margin-left: 20%;
}
.download-email form input {
  flex-grow: 1;
  border: none;
  background-color: lightgray;
  width: 100%;
  border-radius: 20px;
}
.download-email form input:focus {
  outline: none;
}

.download-email form button {
  color: #fff;
  background-color: blue;
  border-radius: 20px;
  border: 0;
  margin-left: -15%;
  padding: 0 10px;
}

/* footer */
.footer-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: blue;
}
.footer-left {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 5%;
}
.footer-logo {
  height: 30px;
}

.list {
  display: grid;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
}
.list-items {
  text-align: center;
  font-size: 13px;
  color: #fff;
}
.footer-rightside {
  padding: 5%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: end;
}
.footer-logos {
  float: right;
  margin-bottom: 5%;
  padding-right: 10px;
}
.logos-list {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(3, 1fr);
  justify-content: end;
  float: right;
}

/* Media Quries */
@media only screen and (max-width:1095px){
 *{
   margin: 0;
   padding: 0;
   overflow: 0;
 }
  .blog-author{
    margin-left: 15%;
  }
  
}
@media only screen and (max-width:1026px){
  .download-email{
    margin-left: -8%;
  }
}
@media only screen and (max-width:958px){
.header-image{
  width:300px;
  height: 300px;
}
.download-section,.faq-section{
  grid-template-columns: 1fr;
  gap:5%;
}
.api .cards {
  grid-template-columns: 1fr 1fr 1fr;
}
.blog-cards{
  grid-template-columns: 1fr;
  gap:8%;
  margin-bottom: 5%;
}
.faq-image img{
  margin-bottom: 5%;
}
}
@media only screen and (max-width:780px){
 .companies{
   margin-top: 45%;
 } 
 .header-image{
   position:absolute;
   left:10%;
   top:50%;
 }
 .api .cards {
  grid-template-columns: 1fr 1fr ;
}
.blog-card{
  grid-template-columns: 0.5fr;
  margin-left: 15%;
}
.blog-card img{
  margin-left:-24%;
}
.blog-content{
  margin-left: 10%;
}
.blog-cards{
  margin-left:5%;
}
.blog-card-bottom-image{
  left: 18%;
}
.faq-image img{
  height:200px;
}
.blog-card{
  margin-bottom: 10%;
  margin-left: 15%;
}
}

@media only screen and (max-width:585px){
  .header-image{
    margin-top:5%;
    margin-bottom: 5%;
  }
  .companies{
    margin-top: 65%;
  }
  .company-items{
    margin: 5px 5px;
    padding: 10px;
  }
  .cards{
    margin-left: -10%;
  }
  .card{
    padding-right: 5%;
  }
  .faq-image img{
    height: 150px;
  }
  form input{
    margin-left: 5%;
    margin-right:5%;
  }
  .download-email{
    width:100px;
  }
  .nav-item{
    font-size: 12px;
  }
  a.nav-item-active{
    font-size: 12px;
  }
  nav{
    margin-left: 2%;
  }
}